@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala');

* {
    margin: 0;
    padding: 0;
   }

:root{
    --dark0: #fff2e7;
    --dark1: #38383c;
    --dark2: #cbc8c5;
    --dark3: #e8e3d9;
    --dark4: #70e3ea;
    --dark5: #3d3d40;
    --dark6: #6c6c6b;
           
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark0);
}

::-webkit-scrollbar-thumb {
    background: var(--dark6);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark2);
}

body{
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Sarala';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;  /*os elementos vão quebrando uma abaixo do outro, responsividade*/
    padding: .8rem;
    background-color: var(--dark5);
    min-height: 50px;
}
.box-img-header{
    height: 100%;
}

.logo-imagem{
    max-width: 60px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--dark0);
}

.nav-links:hover{
    color: var(--dark2);
    transition: .4s;
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.primeira-secao{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.primeira-secao > div{
    display: flex; /*o texto fica um do lado do outro */
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1{
    font-size: 4rem;
    color: var(--dark0);
    letter-spacing: 8px;
}

strong{
    color: var(--dark4);
}

.primeira-secao p{
    color: var(--dark3);
    text-align: justify;
    font-size: 20px;
}

a.Download {
    background: var(--dark4);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: inline-flex; /* mantém alinhamento do texto */
    align-items: center;  /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    text-decoration: none; /* remove sublinhado do link */
    cursor: pointer;
}

a.Download strong {
    color: var(--dark1);
}


.imagem-dev{
    max-width: 450px;
    padding: 1rem;
}

.imagem-principal{
    border-radius: 50%;
    width: 100%;
}

.segunda-secao{
    background-color:var(--dark5);
    display: flex;
    gap: 2rem;
}

.title{
    color: var(--dark0);
}

.segunda-secao > div{
    display: flex;
    gap: 20rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.segunda-secao > div img{
    width: 250px;
    border-radius: 10px;
}

.segunda-secao > div p{
    max-width: 800px;
    color: var(--dark0);
    text-align: justify;
    font-size: 20px;
}

:is(.terceira-secao, .quarta-secao){
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.terceira-secao ul{
    list-style: none;
    display: flex;/*um do lado do outro*/
    justify-content: center;
    align-items: center;
    gap: 2rem;/*espaçamento*/
    flex-wrap: wrap;
}

.terceira-secao ul li{
    color: var(--dark3);
    letter-spacing: 2px;
    font-weight: bold;
}

.terceira-secao ul li:hover{
    color: var(--dark2);
    transition: .4s;
    cursor: default;
}

#lista-projetos{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#lista-projetos a{
    text-decoration: none;
    color: var(--dark3);
}

#lista-projetos a:hover{
    color: var(--dark2);
    transition: .4s;
    cursor: pointer;
}

.quarta-secao{
    background-color:var(--dark5)
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

footer a {
    color: var(--dark3); /* ou troque por uma cor específica como #ff66c4 */
    
}

footer a:hover {
    color: var(--dark2); 
    transition: .4s;
    cursor: pointer;
}

:is(.imagem-principal, .imagem-perfil){
    box-shadow: 1px 1px 1px 1px var(--dark4);
}



